body{
	font-family: 'Raleway', sans-serif;
}

header{
	margin: 30px 0;
}

textarea{
	resize:none;
}

			/*			Sprites			*/
.img-art,
.img-video,
.img-design,
.img-history,
.img-pictures,
.img-location,
.search-link:before,
.premium-link:before,
.messages-link:before,
.edit,
div.editable>span,
.user-info>span:before,
.user-menu-img,
.upload-img,
.delete-btn,
.answer-btn,
.block-btn,
.report:before,
.sent.send-mess:before{
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;
}

			/*			Header			*/
.active-user img{
	border: 1px solid #97e3ff;
	border-radius: 8px;
}

.active-user span{
	color: #004e6b;
	font-size: 16px;
	margin: 5px;
}

.active-user>*{
	vertical-align: middle;
}

.search-link:before,
.premium-link:before,
.messages-link:before,
.edit,div.editable>span,
.user-info>span:before,
.report:before,
.sent.send-mess:before{
	content: "";
	display: inline-block;
	width: 25px;
	height: 30px;
	margin-left: 7px;
}

.search-link:before,
.premium-link:before,
.messages-link:before{
	margin-top: 5px;
	margin-bottom: -5px;
}

.search-link:before{
	background-position: -67px -165px;
}

.premium-link:before{
	background-position: -67px -129px;
}

.messages-link:before{
	background-position: -67px -95px;
}

.search-link>span,
.premium-link>span,
.messages-link>span{
	display: inline-block;
	margin-left: 5px;
	width: 25px;
	height: 25px;
	border: 1px solid #97e3ff;
	border-radius: 8px;
	text-align: center;
	color: #e1778e;
	font-weight: bold;
}

.user-menu-img{
	display: inline-block;
	width: 10px;
	height: 14px;
	background-position: -74px -80px;
	margin: 0;
}

			/*			User Info			*/
.photos{
	padding: 5px;
}

.user-info h4,
.user-info h2,
.user-info p{
	color: #004e6b;
}

.user-info>span:before{
	background-position: -67px 8px;
	margin-top: 5px;
	margin-bottom: -5px;
	margin-left: 0;
	margin-right: 5px;
}

button.btn{
	width: 250px;
	vertical-align: middle;
	font-size: 18px;
	border-radius: 10px;
	border-color: #97e3ff;
	margin-bottom: 10px;
	margin-left: 10px;
}

.btn.btn-primary{
	background-color: #3ab2df;
	color: #fff;
}

button.btn-default{
	color: #3ab2df;
}

.upload-img{
	display: inline-block;
	width: 25px;
	height: 23px;
	margin-left: 7px;
	background-position: -67px -239px;
	margin: 0;
	margin-top: 4px;
	margin-bottom: -4px;
}

.rose,
h3.rose{
	color: #e1778e;
}

.new-message{
	width: 100%;
	margin-top: 20px;
	border: 1px solid #e1778e;
	border-radius: 10px;
	padding: 10px;
	resize: none;
}

			/*			User Interests			*/
.img-art,
.img-video,
.img-design,
.img-history,
.img-pictures,
.img-location{
	height: 68px;
	width: 60px;
}

.img-art{
	background-position: -5px 5px;
}

.img-video{
	background-position: -5px -51px;
}

.img-design{
	background-position: -5px -105px;
}

.img-history{
	background-position: -5px -160px;
}

.img-pictures{
	background-position: -5px -216px;
}

.img-location{
	display: inline-block;
	width: 25px;
	height: 30px;
	background-position: -70px -198px;
}

.some-interest{
	color: #7d7d7d;
	font-style: italic;
}

.some-interest>b{
	font-style: normal;
	color: #004e6b;
}

.edit-interest{
	margin-top: 15px;
	margin-bottom: -15px;
}

div.editable>span{
	background-position: -70px -20px;
}

.edit{
	height: 25px;
	background-position: -70px -20px;
}

h2{
	color: #e1778e;
}

li{
	color: #e1778e;
}

ol span{
	color: #000;
	margin-left: 10px;
	font-size: 16px;
	font-weight: 300;
}

ol.editable{
	font-size: 24px;
}

			/*			Footer			*/
footer{
	margin: 50px;
	color: #3ab2df;
}

footer a{
	color: #3ab2df;
}

footer p{
	color: #ccc;
}

			/*			Absolute			*/
			/*			Messages			*/
/*.mesgs{
	max-height: 600px;
	overflow-y: scroll;
}*/
button.receive,
button.sent{
	border: none;
	margin: 0;
	padding: 0;
	width: 220px;
}

button.sent{
	width: 160px;
}

button.receive:hover,
button.sent:hover{
	background-color: #fff;
	color: #4ac2ef;
	/*3ab2df*/
}

.receive>span{
	color: #e1778e;
	font-family: arial,sans-serif;
}

.num{
	font-family: arial,sans-serif;
}

.blue{
	color: #4abae8;
}

.cian{
	color:#004E6B;
}

.date{
	color: #6e6e6e;
	font-size: 12px;
}

.time{
	font-size: 12px;
}

.status.online:before{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin: 0 3px 0 5px;
	background-color: #12cb34;
}

.status.online{
	font-size: 10px;
}

.mesgs i{
	font-size: 12px;
}

.mesgs>div{
	background-color: #f4f4f4;
	padding: 10px;
	margin-bottom: 2px;
}

.mesgs>div.online{
	background-color: #fff;
}

.control-btn{
	margin-top: -10px;
}

.delete-btn,
.answer-btn,
.block-btn{
	width: 24px;
	height: 24px;
	border: none;
	background-position: -100px -9px;
	background-color: transparent;
}

.answer-btn{
	background-position: -100px -34px;
}

.block-btn{
	background-position: -100px -59px;
}

.delete-btn:hover,
.answer-btn:hover,
.block-btn:hover{
	border-radius: 14px;
	background-color: #F6613E;
}

.answer-btn:hover{
	background-color: #4abae8;
}

			/*			User Messages			*/
/*.msg{
	max-height: 500px;
	overflow-y: scroll;
}*/
.receive-msg,
.send-msg{
	margin-bottom: 10px;
}

.send-msg .message,
.receive-msg .message{
	border: 1px solid #97e3ff;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

.receive-msg .message:before,
.receive-msg .message>p:first-child:before,
.send-msg .message:before,
.send-msg .message>p:first-child:before{
	content: "";
	position: absolute;
	display: block;
	border-left: 7px solid transparent;
	border-right: 14px solid transparent;
	-ms-transform: rotate(51deg);
	-webkit-transform: rotate(51deg);
	transform: rotate(55deg);
}

.receive-msg .message:before{
	border-bottom: 11px solid #fff;
	top: 70px;
	left: -10px;
	z-index: 10;
}

.receive-msg .message>p:first-child:before{
	border-bottom: 11px solid #97e3ff;
	top: 13px;
	left: -18px;
	z-index: 5;
}

.send-msg .message:before,
.send-msg .message>p:first-child:before{
	border-right: 7px solid transparent;
	border-left: 14px solid transparent;
}

.send-msg .message:before{
	border-top: 11px solid #fff;
	top: 53px;
	right: -10px;
	z-index: 10;
}

.send-msg .message>p:first-child:before{
	border-top: 11px solid #97e3ff;
	top: 48px;
	right: -18px;
	z-index: 5;
}

.send-msg>img{
	margin-top: 80px;
}

.message{
	min-height: 125px;
}

.mess-field{
	border: 1px solid #e1778e;
	border-radius: 10px;
	padding: 10px 20px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.send-btn{
	width: 160px;
	margin-left: 20px;
	margin-top: 10px;
	font-weight: bold;
}

.sent.report{
	color: #e1778e;
}

.sent.report,
.sent.send-mess{
	width: 200px;
	height: 60px;
}

.sent.report:hover{
	color: #F6613E;
}

.report:before{
	background-position: -102px -85px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-top: 3px;
	margin-bottom: -3px;
}

.sent.send-mess{
	padding:0;
	vertical-align: top;
	margin-bottom: 0;
}

.sent.send-mess>*{
	vertical-align: top;
}

.sent.send-mess>span{
	margin-top: 15px;
	margin-bottom: -15px;
	display: inline-block;
	height: 50px;
}

.sent.send-mess:before{
	background-position: -8px -284px;
	width: 50px;
	height: 50px;
	margin-right: 5px;
	margin-top: 5px;
}

.online-status{
	position: absolute;
	top: 20px;
	left: 40px;
	background-color: #00c100;
	color: #fff;
	padding: 0 5px;
	border-radius: 5px;
	font-style: italic;
	letter-spacing: 0.05em;
}


			/*			Search			*/
.search-parameters>select,
.search-parameters>input{
	border: none;
	border-bottom: 2px solid #e1778e;
	margin: 0 20px;
	color: #e1778e;
	outline:none;
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

.search-parameters>input[type=number]{
	width: 50px;
	text-align: center;
}

.search-parameters>select:before{
	content: ">";
	display: block;
	color: #f0f;
	position: absolute;
	z-index: 500;
}


@media only screen and (min-width : 768px) and (max-width : 991px){

}

@media only screen and (min-width : 992px) and (max-width : 1199px){

	.sent.report,
	.sent.send-mess{
		margin-top: 50px;
	}
}

@media only screen and (min-width : 1200px){

	.sent.report,
	.sent.send-mess{
		margin-top: 50px;
	}
}