body,input{
	font-family: 'Raleway', sans-serif;
}
header{
	margin-top: 30px;
	margin-bottom: 40px;
}
header>p{
	margin-top: 20px;
	color: #666;
}
h3{
	font-size: 24px;
	color: #5d5d5d;
}
.timeline{
	border-bottom: 5px solid #c4d4e6;
	margin-top: 50px;
}
.timeline>p{
	color: #a5a5a5;
	font-size: 12px;
}
p.active{
	text-transform: uppercase;
	color: #515151;
}
.num{
	font-family: arial,sans-serif;
}
.big-rose-heart,
.rose-heart,
.grey-heart,
.looking:after,
.pink-heart,
.upload-img,
input[type=checkbox].agree:checked+label:before{
	display: inline-block;
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;
}
.big-rose-heart{
	width: 30px;
	height: 29px;
	background-position: -98px -273px;
}
.rose-heart{
	width: 20px;
	height: 18px;
	background-position: -102px -195px;
}
.pink-heart{
	margin-left: 20px;
	width: 22px;
	height: 20px;
	background-position: -100px -169px;
	/*background-color: #00f;*/
}
.grey-heart{
	width: 20px;
	height: 18px;
	background-position: -102px -222px;
}
.step1,.step2,.step3,.step4{
	position: absolute;
	bottom: -25px;
}
.step1{
	left: -20px;
}
.step2{
	left: 30%;
}
.step3{
	right: 30%;
}
.step4{
	right: -20px;
}
.active{
	bottom: -30px;
}

.looking{
	color: #5d5d5d;
	margin-top: 50px;
	margin-bottom: 50px;
}
.looking>select{
	position: relative;
	border: none;
	border-bottom: 2px solid #3ab2df;
	margin: 0 20px;
	color: #e1778e;
	outline:none;
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
.looking>select>option{
	border: none;
}
.looking>select:after{
	position: absolute;
	content: ">";
	width: 10px;
	height: 10px;
	display: block;
	background-position: -78px -85px;
	background-color: #f0f;
	z-index: 10;
}
p.grey-col,
.grey-col{
	color: #515151;
}
.blue{
	color: #4abae8;
}
.bold{
	font-weight: 700;
}
.thin{
	font-weight: 300;
}
input{
	margin-top: 10px;
	margin-bottom: 20px;
}
input[type=email]{
	margin-top: 0px;
	/*border-color: #3ab2df;*/
}
button[type=submit]{
	display: none;
}
button[type=submit],
button[type=submit]+label{
	font-size: 20px;
	margin-top: 20px;
	text-align: center;
	/*font-weight: 700;*/
	background-color: #3ab2df;
	border-color: #97e3ff;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;
}
button[type=submit]+label:after{
	content: "";
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	border-right: 4px solid #fff;
	border-bottom: 4px solid #fff;
	right: 15%;
	top: 12px;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
span.check:before{
	content: "";
	border: none;
	display: inline-block;
	border-left: 3px solid #12cb34;
	border-bottom: 3px solid #12cb34;
	height: 8px;
	width: 15px;
	-ms-transform: rotate(-50deg);
	-webkit-transform: rotate(-50deg);
	transform: rotate(-50deg);
	margin-top: 8px;
}
form{
	margin-bottom: 20px;
}


			/*			Verification			*/
h3.verification{
	color: #e1778e;
	margin-top: -30px;
	margin-bottom: 50px;
}
.rose{
	color: #e1778e;
}
input[type=checkbox].agree+label{
	font-weight: 300;
	color: #515151;
	margin-top: 40px;
	margin-bottom: 30px;
}
input[type=checkbox].agree{
	display: none;
}
input[type=checkbox].agree+label:before{
	content: "";
	display: inline-block;
	width: 19px;
	height: 19px;
	border: 1px solid #e1778e;
	margin-right: 10px;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: -5px;
}
input[type=checkbox].agree:checked+label:before{
	background-position: -104px -147px;
}
.some-text{
	margin-top: 40px;
	margin-bottom: 90px;
}

			/*			Step 2			*/
.modal-header,
.modal-footer{
	border: none;
}
.modal-content{
	background-color: #f6f6f6;
}
.modal-content h3{
	color: #5d5d5d;
}
.modal-footer{
	margin-top: 0px;
	margin-bottom: 30px;
}
.modal-body input{
	margin-top: 20px;
	margin-bottom: 0px;
}
.close>span{
	color: #e1778e;
}

			/*			Step 3			*/
input[type=checkbox].s3+label{
	margin-top: 0px;
	margin-bottom: 0px;
}
input[type=checkbox].agree{
	display: none;
}
input[type=checkbox].s3+label:before{
	border-color: #818181;
}
input[type=checkbox].s3:checked+label{
	font-weight: 700;
}
input[type=checkbox].s3:checked+label:before{
	border-color: #3ab2df;
}
.columns{
	-webkit-column-count:3;
	-moz-column-count:3;
	column-count:3;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
	-webkit-column-rule: 1px solid transparent;
	-moz-column-rule: 1px solid transparent;
	column-rule: 1px solid transparent;
	margin-top: 0;
}
.columns label{
	line-height: 2em;
	font-size: 18px;
}


			/*			Step 4			*/
.btn.green-btn{
	display: block;
	background-color: #12cb34;
	border-color: #39b54a;
}
.btn.green-btn:after{
	display: none;
}
.btn.green-btn:hover{
	background-color: #22db44;
}
input[type=file]{
	display: none;
}
input[type=file]+label{
	display: block;
	width: 300px;
	height: 40px;
	color: #fff;
	background-color: #3ab2df;
	border:1px solid #97e3ff;
	border-radius: 10px;
	text-align: center;
	padding-top: 3px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.upload-img{
	display: inline-block;
	width: 25px;
	height: 23px;
	background-position: -67px -239px;
	margin: 0;
	margin-left: 10px;
	margin-top: 4px;
	margin-bottom: -4px;
}
ol{
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 180px;
}
.questions{
	display: inline-block;
	margin-bottom: 0;
}
.avatar{
	width: 98%;
	margin: 20px auto;
}
.avatar img{
	width: 100%;
}
.avatar label>img{
	border: 1px solid transparent;
}
.avatar input[type=radio]{
	display: none;
}
.avatar input[type=radio] + label{
	padding: 5px;
}
.avatar input[type=radio]:checked + label:before{
	content: "";
	position: absolute;
	border-bottom: 4px solid #12cb34;
	border-left: 4px solid #12cb34;
	width: 20px;
	height: 10px;
	top: 10%;
	right: 10%;
	-ms-transform: rotate(-50deg);
	-webkit-transform: rotate(-50deg);
	transform: rotate(-50deg);
	box-shadow: -3px 3px 2px rgba(0,0,0,.5);
}
.avatar input[type=radio]:checked + label>img{
	border: 1px solid #12cb34;
}
.ava{
	margin-top: 20px;
	margin-bottom: 0px;
}
.some-user-text{
	margin-bottom: 20px;
}


			/*			Media Queries			*/
@media only screen and (min-width : 486px) and (max-width : 991px){
	.columns{
		-webkit-column-count:2;
		-moz-column-count:2;
		column-count:2;
	}
	.ava{
		margin-bottom: 20px;
	}
}
@media only screen and (max-width : 485px){
	.columns{
		-webkit-column-count:1;
		-moz-column-count:1;
		column-count:1;
	}
	.ava{
		margin-bottom: 20px;
	}
}