body{
	font-family: 'Raleway', sans-serif;
}
header{
	margin-top: 30px;
	margin-bottom: 40px;
}
header>p{
	margin-top: 20px;
	color: #666;
}
h3{
	font-size: 24px;
	color: #5d5d5d;
}
.timeline{
	border-bottom: 5px solid #c4d4e6;
	margin-top: 50px;
}
.timeline>p{
	color: #a5a5a5;
	font-size: 12px;
}
p.active{
	text-transform: uppercase;
	color: #515151;
}
.num{
	font-family: arial,sans-serif;
}
.big-rose-heart,
.grey-heart,
.looking:after{
	display: inline-block;
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;
}
.big-rose-heart{
	width: 30px;
	height: 29px;
	background-position: -98px -273px;
}
.rose-heart{
	width: 20px;
	height: 18px;
	background-position: -102px -195px;
	/*background-color: #00f;*/
}
.grey-heart{
	width: 20px;
	height: 18px;
	background-position: -102px -222px;
}
.step1,.step2,.step3,.step4{
	position: absolute;
	bottom: -25px;
}
.step1{
	left: -20px;
	bottom: -30px;
}
.step2{
	left: 30%;
}
.step3{
	right: 30%;
}
.step4{
	right: -20px;
}

.looking{
	color: #5d5d5d;
	margin-top: 50px;
	margin-bottom: 50px;
}
.looking>select{
	position: relative;
	border: none;
	border-bottom: 2px solid #3ab2df;
	margin: 0 20px;
	color: #e1778e;
	outline:none;
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
.looking>select>option{
	border: none;
}
.looking>select:after{
	position: absolute;
	content: ">";
	width: 10px;
	height: 10px;
	display: block;
	background-position: -78px -85px;
	background-color: #f0f;
	z-index: 10;
}
p.grey-col{
	color: #515151;
}
input{
	margin-top: 10px;
	margin-bottom: 20px;
}
input[type=email]{
	margin-top: 0px;
}
input[type=submit]{
	font-weight: 700;
	background-color: #3ab2df;
	border-color: #97e3ff;
	border-radius: 10px;
}
span.check:before{
	content: "";
	border: none;
	display: inline-block;
	border-left: 3px solid #12cb34;
	border-bottom: 3px solid #12cb34;
	height: 8px;
	width: 15px;
	-ms-transform: rotate(-50deg);
	-webkit-transform: rotate(-50deg);
	transform: rotate(-50deg);
	margin-top: 8px;
}
form{
	margin-bottom: 20px;
}